minisoc-n8n/flows/MIAC M7T1 - MiniSOC.json
{
  "name": "MIAC M7T1 - MiniSOC",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=The last 15 lines obteined from file are: {{ $('Loop Over Items').last().json.chunk}}",
        "options": {
          "systemMessage": "=You are a cybersecurity agents that reads ssh logs and analyzes them to detect and categoryze those attackt that you may detect. For each incident detected you should create a jira issue including:\n- Mitre ATT&CK TTPs\n- IOC lists (i.e IP, url, etc.)\n- Recomended actions to mitigate"
        }
      },
      "id": "41174c8a-6ac8-42bd-900e-ca15196600c5",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        512,
        224
      ]
    },
    {
      "parameters": {
        "model": "=qwen3:4b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        416,
        496
      ],
      "id": "9fe45761-7670-458f-9bc4-c5131ed4abb3",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "KZfZhsUsha5qi8MV",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/data/logs/*.log",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -432,
        240
      ],
      "id": "52868d66-54b1-421c-b735-9641f6b30a38",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        240
      ],
      "id": "46e5ec3b-0321-4a53-b7aa-9c7255e892ea",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        208,
        240
      ],
      "id": "b1a84370-df34-43ac-894f-c130a3162de9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Recibe una lista de items con estructura { text: \"línea1\\nlínea2\\n...\" }\n// Devuelve un item por cada línea de cada fichero.\n\nconst linesPerChunk = 15;\nconst chunks = [];\n\nfor (const item of $input.all()) {\n  const text = item.json.text || \"\";\n  \n  // Dividir el texto en líneas\n  const lines = text.split(/\\r?\\n/).filter(line => line.trim() !== \"\");\n\n  for (let i = 0; i < lines.length; i += linesPerChunk) {\n    const chunk = lines.slice(i, i + linesPerChunk).join('\\n');\n    chunks.push({\n      filename: item.json.fileName,\n      chunk: chunk\n    });\n  }  \n}\n\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        240
      ],
      "id": "b7c258d7-d30b-46ab-8f49-3e8014b7c060",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/logs",
        "events": [
          "add"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        -688,
        64
      ],
      "id": "9c4cf592-4bac-4a5e-982e-fdaaea8afc0a",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -224,
        240
      ],
      "id": "cea1f82d-8fcc-4ed8-b754-aae64b8db18f",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jiraVersion": "serverPat",
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Incidentes SOC"
        },
        "issueType": {
          "__rl": true,
          "value": "10002",
          "mode": "list",
          "cachedResultName": "Tarea"
        },
        "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        784,
        480
      ],
      "id": "39913bb0-2eff-49c8-a3b3-a7e1d7ee5957",
      "name": "Create an issue in Jira Software",
      "credentials": {
        "jiraSoftwareServerPatApi": {
          "id": "rI8EeMJ7w2o5uNQw",
          "name": "Jira SW Server (PAT) account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        496
      ],
      "id": "ba1285e6-e69a-479c-a717-7de0a714fdea",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an issue in Jira Software": {
      "ai_tool": [
        [
          {
            "node": "Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f0b204b3-b788-449c-aa21-fd3b4a933971",
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "61e6163069c97d31efcd1532ac3f27bc63c18e9f737eb3f3ea45ad31d39d83d4"
  },
  "id": "5DlOxNrMWOcKpcK4",
  "tags": []
}